/* INICIO VARIABLES */
:root{
    --blanco: white;
    --aqua: rgb(85, 199, 199);
    --rosa: rgb(255, 82, 82);
    --negro: black;
    --gris: rgb(184, 184, 184);
    --fuente1: 'Bebas Neue', cursive;
    --fuente2: 'Oxygen', sans-serif;
}
/* FIN VARIABLES */

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--blanco);
    font-family: var(--fuente2);
}
/* INICIO INDEX */
/* INICIO HEADER */
.menu1{
    display: flex;
    padding: 0px 20px 5px 20px;
    height: 80px;
    background-color: var(--rosa);
    border-top: 6px solid var(--aqua);
    justify-content: space-between;
}

.union{
    display: flex;
}

.union img{
    width: 75px;
    height: 75px;
    padding: 5px;
}

.union h1{
    line-height: 0px;
    font-size: 70px;
    margin-left: 13px;
    font-family: var(--fuente1);
    color: var(--blanco);
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
}

nav li a{
    text-decoration: none;
    color: var(--aqua);
    padding: 2px 7px 2px 7px;
    background-color: #eeeeee;
    border: 1px solid var(--aqua);
    font-family: var(--fuente1);
    font-size: 30px;
    margin: 5px;
    line-height: 50px;
    border-radius: 5px;
}

nav li a:hover{
    background-color: var(--aqua);
    border: 1px solid var(--blanco);
    color: var(--blanco);
    border-radius: 5px;
    transition: 350ms;
    cursor: pointer;
}
/* FIN HEADER */
/* INICIO MAIN */
    /* INICIO PRINCIPALES */
.contenido{
    text-align: center;
    align-items: center;
    font-family: var(--fuente2);
}

.tarjeta{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
}

.peluches{
    padding: 10px;
    margin: 5px;
    background-color: rgb(179, 251, 253);
}

.peluches:hover{
    background-color: rgb(255, 188, 161);
    transition: 300ms;
}

.peluches h2{
    font-family: var(--fuente1);
    font-size: 30px;
}

.peluches a{
    text-decoration: none;
    color: var(--blanco);
}

.peluches a h3{
    padding: 2px 7px 2px 7px;
    background-color: var(--rosa);
    font-family: var(--fuente2);
    font-size: 25px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.peluches a h3:hover{
    background-color: var(--aqua);
    transition: 300ms;
    color: var(--negro);
}
    /* FIN PRINCIPALES */

hr{
    width: 95%;
    height: 1px;
    background-color: rgb(208, 208, 255);
}

    /* INICIO BENEFICIOS */
.beneficios{
    display: flex;
    margin: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid var(--rosa);
    justify-content: space-between;
}

.caracteristica{
    background-color: rgb(255, 188, 161);
    padding: 30px;
}

.caracteristica h2{
    font-family: var(--fuente1);
    font-size: 30px;
}
/* FIN BENEFICIOS */
.clientes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 91%;
    margin-bottom: 20px;
}

.persona{
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    width: 520px;
    background-color: rgb(179, 251, 253);
}

.persona img{
    margin: 10px;
    width: 175px;
    height: 200px;
    border-radius: 80px;
    margin-right: 25px;
}

.contenido h3{
    font-size: 20px;
    text-align: center;
    font-family: var(--fuente1);
}

.contenido p{
    text-align: justify;
}
    /* FIN CLIENTES */
/* FIN MAIN */
/* INICIO FOOTER */
.footer1{
    height: 20px;
    background-color: var(--rosa);
}
/* FIN INDEX */

/* INICIO CONOCENOS */
/* INICIO HEADER */
.menu2{
    display: flex;
    padding: 0px 20px 5px 20px;
    height: 80px;
    background-color: var(--rosa);
    border-top: 6px solid var(--aqua);
    justify-content: center;
}

.titulo2{
    text-align: center;
    font-family: var(--fuente1);
    color: var(--blanco);
    font-size: 75px;
    line-height: 0px;
}
/* FIN HEADER */
/* INICIO MAIN */
.empresa{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgb(179, 251, 253);
    margin-top: 10px;
    padding: 10px;
}

.mision{
    padding: 80px;
    background-color: var(--aqua);
    padding-top: 40px;
    margin: 40px 20px 20px 40px;
    border-radius: 20px;
}

.mision h2{
    font-family: var(--fuente1);
    font-size: 25px;
}
/* FIN MAIN */
/* INICIO FOOTER */
.regresar{
    text-decoration: none;
    color: var(--rosa);
    padding: 2px 7px 2px 7px;
    background-color: var(--aqua);
    font-family: var(--fuente1);
    font-size: 20px;
    text-align: 40px;
    margin: 12px;
}

.regresar:hover{
    background-color: var(--rosa);
    color: var(--aqua);
    transition: 350ms;
    cursor: pointer;
    margin: 15px;
}
/* FIN FOOTER */
/* FIN CONOCENOS */

/* INICIO PRODUCTOS - PELUCHES */
.parrapro h3{
    background-color: rgb(179, 251, 253);
    width: 90%;
    padding: 10px;
    display: flex;
}

.opcion{
    display: flex;
    width: 77%;
    margin: 10px;
    padding: 12px;
    border: 2px solid rgb(255, 188, 161);
    border-radius: 20px;
}

.opcion:hover{
    background-color: rgb(255, 188, 161);
    transition: 300ms;
}

.info2{
    padding: 10px;
}

.info2 p{
    text-align: center;
}

.info2 h2{
    text-align: center;
    font-family: var(--fuente1);
    font-size: 30px;
}

.opcion img{
    height: 200px;
    width: 200px;
    padding: 10px;
}
/* FIN PRODUCTOS - PELUCHES *

/* INICIO CONTACTO */
.contacto{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    width: 60%;
    margin: 20px;
    background-color: rgb(161, 236, 255);
}

.contacto img{
    height: 300px;
    width: 300px;
}

form{
    text-align: justify;
    margin-right: 40px;
}

form label{
    font-family: var(--fuente1);
    font-size: 20px;
}

form input{
    width: 300px;
}
/* FIN CONTACTO */